body {
    /*background-image: url("../images/background.jpg");
    background-size: 100% 100%;*/
    background-color: #EEEEEE;
    /*background-repeat: no-repeat;*/
}
#dark-header {
    background: #212121; 
    color: #F5F5F5;
}